.applications-table {
  overflow-x: auto;
  max-width: 100%;
  height: calc(100vh - 100px);

  table {
    table-layout: auto;
    width: max-content;
    min-width: 100%;
    border-collapse: collapse;

    th {
      padding: 24px 16px;
    }

    tbody {
      tr {
        transition: background-color 0.3s;
      }

      tr:hover {
        outline: 1px solid #ccc;
        outline-offset: -1px;
        background: #fff;
      }
    }

    td {
      padding: 24px 16px;
    }

    thead {
      position: sticky;
      z-index: 2;
      top: 0;

      text-wrap: nowrap;
      background: #fff;
      border: 1px solid #ccc;

      .table-header-cell {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.3s;

        img {
          transition: 0.3s;
        }

        &.clickable {
          cursor: pointer;
          position: relative;

          &:hover > span {
            color: var(--main-green);
          }
        }
      }
    }
  }
}
