.applications-table {
  overflow-x: auto;
  max-width: 100%;
  height: calc(100vh - 100px);

  table {
    table-layout: auto;
    width: max-content;
    min-width: 100%;
    border-collapse: collapse;

    th {
      padding: 24px 16px;
    }

    tbody {
      tr {
        transition: background-color 0.3s;
        position: relative;
      }

      .actions-cell {
        position: sticky;
        right: 0;
        z-index: 2;
        padding: 24px 16px;
      }

      .icons {
        display: flex;
        background: #fff;
        gap: 20px;
        margin-top: 1px;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s;

        svg {
          cursor: pointer;
        }
      }

      tr:hover {
        outline: 1px solid #ccc;
        outline-offset: -1px;
        background: #fff;

        .icons {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }

    td {
      padding: 24px 16px;
    }

    thead {
      position: sticky;
      z-index: 2;
      top: 0;

      text-wrap: nowrap;
      background: #fff;
      border: 1px solid #ccc;

      .table-header-cell {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          transition: 0.3s;
          color: var(--color-dark-blue);
        }

        svg {
          transition: 0.2s;
        }

        &.clickable {
          cursor: pointer;
          position: relative;

          &:hover > span {
            color: var(--main-green);
          }
        }
      }
    }
  }
}
