@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-green: #1baa75;
  --dark-blue: #24334b;
  --pure-white: #fff;
  --light-blue: #3f5984;
  --red: #eb5757;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-main-green: var(--main-green);
  --color-dark-blue: var(--dark-blue);
  --color-pure-white: var(--pure-white);
  --color-light-blue: var(--light-blue);
  --red: var(--red);
}

body {
  font-family: var(--font-montserrat);
  background: #f6f6f6;
}

button {
  cursor: pointer;
}
