@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-green: #1BAA75;
  --dark-blue: #24334B;
  --pure-white: #fff;
  --blue-light: #3F5984;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
