.multi-file-upload {
  .multi-file-upload__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;

    h2 {
      color: var(--light-blue);
    }

    button {
      display: flex;
      align-items: center;
      color: var(--main-green);
      gap: 6px;
      cursor: pointer;
    }
  }

  .multi-file-upload__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    label {
      flex: 1;
    }

    .minus,
    .plus {
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .minus {
      background: var(--light-blue);
    }

    .plus {
      background: var(--main-green);
    }
  }
}
